# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true # Set to true to stop the .editorconfig file search on the current file.

[*]
indent_style = space

[*.cs]
indent_size = 4
trim_trailing_whitespace = true

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:refactoring
dotnet_style_qualification_for_property = false:refactoring
dotnet_style_qualification_for_method = false:refactoring
dotnet_style_qualification_for_event = false:refactoring

csharp_using_directive_placement = inside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_namespace_match_folder = true:warning
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:warning
dotnet_sort_system_directives_first = true:warning

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = false # I do not know if this hsould be kept.

csharp_indent_switch_labels = true
csharp_indent_case_contents = true
csharp_indent_block_contents = true
csharp_indent_block_contents = true
csharp_indent_labels = one_less_than_current
csharp_indent_braces = false

csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

#### Naming styles ####
# Const must be full uppercase
dotnet_naming_rule.const_must_be_uppercase.symbols = const_uppercase
dotnet_naming_symbols.const_uppercase.applicable_kinds = *
dotnet_naming_symbols.const_uppercase.applicable_accessibilities = *
dotnet_naming_symbols.const_uppercase.required_modifiers = const
dotnet_naming_rule.const_must_be_uppercase.style = const_set_to_uppercase
dotnet_naming_style.const_set_to_uppercase.capitalization = all_upper
dotnet_naming_rule.const_must_be_uppercase.severity = warning

# Naming rules
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.field_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.field_members_should_be_pascal_case.symbols = public_field
dotnet_naming_rule.field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_field_should_be_camelcasestyle.severity = warning
dotnet_naming_rule.private_field_should_be_camelcasestyle.symbols = private_field
dotnet_naming_rule.private_field_should_be_camelcasestyle.style = camelcasestyle

dotnet_naming_rule.variable_should_be_camelcasestyle.severity = warning
dotnet_naming_rule.variable_should_be_camelcasestyle.symbols = variable
dotnet_naming_rule.variable_should_be_camelcasestyle.style = camelcasestyle

# Symbol specifications
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.private_field.applicable_kinds = field
dotnet_naming_symbols.private_field.applicable_accessibilities = private
dotnet_naming_symbols.private_field.required_modifiers = 

dotnet_naming_symbols.public_field.applicable_kinds = field
dotnet_naming_symbols.public_field.applicable_accessibilities = public
dotnet_naming_symbols.public_field.required_modifiers = 

dotnet_naming_symbols.variable.applicable_kinds = local, parameter
dotnet_naming_symbols.variable.applicable_accessibilities = *
dotnet_naming_symbols.variable.required_modifiers = 

# C# Naming Conventions: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions?view=vs-2019
dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum, delegate, namespace
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method, type_parameter
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles
dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.camelcasestyle.required_prefix = 
dotnet_naming_style.camelcasestyle.required_suffix = 
dotnet_naming_style.camelcasestyle.word_separator = 
dotnet_naming_style.camelcasestyle.capitalization = camel_case
